.trackTitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  cursor: pointer;
}

.tracks {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.track {
  border: 1px solid #747bff;
  border-radius: 8px;
  padding: 10px;
}

.track.selected {
  border-color: #ffc464;
}